<aside class="sidebar">
  <ul class="item-list">
    <li class="item">
      <a class="link" href="<%= url_for('/api') %>">
        <h2><%= __('cat.overview') %></h2>
      </a>
    </li>
    <li class="item">
      <a class="link" href="<%= url_for('/api/invariant.html') %>">
        <%= __('cat.invariant') %>
      </a>
    </li>
    <li class="item">
      <a class="link" href="<%= url_for('/api/isPlainObject.html') %>">
        <%= __('cat.isPlainObject') %>
      </a>
    </li>
    <li class="item">
      <a class="link" href="<%= url_for('/api/parseDate.html') %>">
        <%= __('cat.parseDate') %>
      </a>
    </li>
    <li class="item">
      <a class="link" href="<%= url_for('/api/formatDate.html') %>">
        <%= __('cat.formatDate') %>
      </a>
    </li>
    <li class="item">
      <a class="link" href="<%= url_for('/api/todo.html') %>">
        <%= __('cat.todo') %>
      </a>
    </li>
  </ul>
</aside>
