<aside class="sidebar">
  <ul class="item-list">
    <li class="item">
      <a class="link" href="<%= url_for('/api') %>">
        <h3><%= __('cat.overview') %></h3>
      </a>
    </li>
    <li class="item">
      <a class="link" href="<%= url_for('/api/invariant.html') %>">
        <%= __('cat.invariant') %>
      </a>
    </li>
    <li class="item">
      <a class="link" href="<%= url_for('/api/isplainobject.html') %>">
        <%= __('cat.isplainobject') %>
      </a>
    </li>
    <li class="item">
      <a class="link" href="<%= url_for('/api/todo.html') %>">
        <%= __('cat.todo') %>
      </a>
    </li>
  </ul>
</aside>
