<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= page.title || config.title %></title>
  <meta name="description" content="<%= config.description %>">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- css('css/style') %>
</head>
<body>
  <div class="root">
    <%- partial('_partial/header') %>
    <main class="main"><%- body %></main>
    <%- partial('_partial/footer') %>
  </div>
</body>
</html>
